/* FONTS */
@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto_thin_regular/roboto-thin-webfont.eot');
    src: url('fonts/roboto_thin_regular/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_thin_regular/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto_thin_regular/roboto-thin-webfont.woff') format('woff'),
         url('fonts/roboto_thin_regular/roboto-thin-webfont.ttf') format('truetype'),
         url('fonts/roboto_thin_regular/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto_black_regular/roboto-black-webfont.eot');
    src: url('fonts/roboto_black_regular/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_black_regular/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto_black_regular/roboto-black-webfont.woff') format('woff'),
         url('fonts/roboto_black_regular/roboto-black-webfont.ttf') format('truetype'),
         url('fonts/roboto_black_regular/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto_medium_regular/roboto-medium-webfont.eot');
    src: url('fonts/roboto_medium_regular/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_medium_regular/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto_medium_regular/roboto-medium-webfont.woff') format('woff'),
         url('fonts/roboto_medium_regular/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto_medium_regular/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 700;
    font-style: normal;

}





/* MAIN CSS */
p {
	font-family: 'robotothin';
	font-size: 20px;
}

body {
	margin: 0;
	height: auto;
}

h1 {
	font-size: 25px;
	background-color: #618184;
  	margin: 0;
  	padding: 10px;
  	font-family: 'robotoblack';
}

ul li a {
}

ul li {
}

ul {
}

header {
	height: 213px;
    border-bottom: 1px solid black;
    background: -webkit-linear-gradient(left top, #FFF, #93afb2); /* For Safari 5.1 to 6.0 */
}

footer {
	background-color: #93afb2;
	height: 200px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

input[type="submit"] {
	width: auto;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'robotothin';
	background-color: #81d15a;
	left: 940px;
	position: absolute;
    text-transform: uppercase;
}

input[type="password"], input[type ="text"] {
	height: 35px;
	width: 500px;
	margin-left: 30px;
}

label {
	font-family: 'robotothin';
	font-size: 30px;
    margin-left: 30px;
}


/* HEADER CSS */
#menu {
}

#menu ul li a {
	text-decoration: none;
	color: black;
}

#menu ul li a:hover {
	color: #3b6367;
	-webkit-transition: .1s;
}

#menu ul li {
	display: inline;
	margin-left: 20px;
	font-family: 'robotothin';
	font-size: 30px;
	text-transform: uppercase;
	list-style-type: none;
}

#menu ul {
	width: auto;
	position: absolute;
	right: 0;
	top: 158px;
	margin-right: 40px;
}

#logo_header {
	height: 100px;
	width: 200px;
	margin-top: 10px;
	position: absolute;
}

#tekst_logo {
	width: auto;
	height: auto;
}

#tekst_logo {
	width: 445px;
	height: 181px;
	position: absolute;
	left: 200px;
}

#logo_header img{
	display: inline-block !important;
	width: 100%;
	height: auto;
}

.facebook {
	position: absolute;
	right: 30px;
	top: 10px;
}

.twitter {
    position: absolute;
    right: 80px;
    top: 15px;
}

.instagram {
    position: absolute;
    right: 130px;
    top: 10px;
}




/* CONTENT CSS */
#news_title {
    text-transform: uppercase;
}

#content-blok {
	margin-top:45px;
	padding: 0 10px 0 10px;
}

#blok {
	margin-bottom: 10px;
	width: 30%;
	height: 300px;
	display: inline-block;
    vertical-align: top;
    margin-right: 4.65%;
}

#blok:last-child {
    margin-bottom: 10px;
    width: 30%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
}


#blok-1 {
	width: 100%;
	height: 300px;
	box-shadow: black;
	-webkit-box-shadow: 6px 0px 33px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 6px 0px 33px 0px rgba(0,0,0,0.33);
	box-shadow: 6px 0px 33px 0px rgba(0,0,0,0.33);
}

#blok-1 h1 {
    color: white;
    font-family: 'robotomedium';
}

#contact_h1 {
	background-color: none;
}

#login_content {
	padding: 0 10px 0 10px;
}

#login_second_content {
	width: 700px;
	margin: 0 auto;
}

#logintitle {
	background: none;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
}

#login_text {
}

#readmore{
    background-color: #81d15a;
    height: 20px;
    width: 50px;
    padding: 5px;
    top: 150px;
    left: 380px;
    text-decoration: none;
    color: black;
    box-shadow: 1px black;
}



/* FOOTER CSS */
#contact_title {
    padding-bottom: 0;
    background: none;
}

#contact_text {
    margin: 0;
    padding-left: 10px;
}

#contactinformation {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

#footer_info {
    width: 300px;
    display: inline-block;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 300px) {

#blok {
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    vertical-align: top;
    margin-right: 4.65%;
}

#blok-1 {
    width: 100%;
    height: 100%;
    box-shadow: yellow;
    -webkit-box-shadow: 6px 0px 33px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 6px 0px 33px 0px rgba(0,0,0,0.33);
    box-shadow: 6px 0px 33px 0px rgba(0,0,0,0.33);
}

}
